$lightgray: #bdc3c7;
$bluegreen: #1abc9c;

input, button {
  height: 40px;
  width: 175px;
  border-radius: 5px;
  display: block;
  padding: 3px 8px;
  margin: 0 0 10px 0;
}

input {
  border: 2px solid $lightgray;
}

button {
  border: 2px solid $bluegreen;
  background-color: $bluegreen;
  color: white;
  font-weight: bolder;
}

.showDino {
  color: black;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 10px;
}

.dinoText-flex {
  display: flex;
  justify-content: center;
}

.dinoText {
  width: 800px;
  color: $bluegreen;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
  text-align: justify;
}
